body {
  background: gray;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: white;
  margin: 290px 500px 290px 500px;
  padding: 20px 300px;
  font-size: 16px;
}

.title,
.content,
.button-container {
  background: dodgerblue;
  margin: 16px -100px;
  font-size: 16px;
}

button {
  background: white;
  margin: 0 auto;
  font-size: 20px;
  padding: 12px;
  display:block;
}

button,
.button-container{
  text-align: center;
}

.title,
.content{
  padding: 12px 20px;
}

.button-container{
  padding: 15px;
}